<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>googleanalytics</name>
	<displayName><![CDATA[Google Analytics]]></displayName>
	<version><![CDATA[0.9(beta)]]></version>
	<description><![CDATA[This is the GoogleAnalytics extension for Prestashop, using enhanced e-commerce Google Analytics API]]></description>
	<author><![CDATA[MageBinary]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall GoogleAnalytics?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>